<li class="list-group-item joke-item d-flex align-items-center"
    [ngClass]="{'joke-active':isOver}"
    (mouseover)="isOver=true"
    (mouseout)="isOver=false"
    *ngIf="joke">
  <span class="joke-item__val"
        [innerHTML]="joke.joke">
  </span>
  <span *ngIf="showFavIcon"
        class="joke-item__action joke-item-heart__icon"
        [ngClass]="{'joke-item-heart__icon--filled':joke.favourite}"
        (click)="onFavoriteSelect(joke)">
  </span>
  <span *ngIf="showDelIcon"
        class="joke-item__action joke-item-delete__icon"
        (click)="onDelete(joke)">
  </span>
</li>

