.joke-item {
  padding-right: 50px;

  &:hover {
    background-color: #f8f9fa;
    cursor: pointer;
  }

  &:first-child,
  &:last-child {
    border-radius: 0;
  }

  &__action {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-repeat: no-repeat;
    position: absolute;
    right: 15px;
  }

  &-heart__icon {
    background-image: url("/assets/heart-outline.png");
    &--filled {
      background-image: url("/assets/heart-filled.png");
    }
  }

  &-delete__icon {
    background-image: url("/assets/delete.png");
    display:none;
  }
}

.joke-active {
  .joke-item-delete__icon {
    display: block;
  }
}

