<section class="card">
  <header class="card-header d-flex justify-content-between">
    <h4>Jokes</h4>
    <button type="button" class="btn btn-outline-dark btn-sm" (click)="onRefresh()">
      Refresh
    </button>
  </header>
  <app-spinner *ngIf="loading; else loaded"></app-spinner>
  <ng-template #loaded>
    <ul class="list-group">
      <app-joke-item
        *ngFor="let joke of jokes; trackBy:trackByJokes"
        [joke]="joke"
        [showDelIcon]="false"
        [showFavIcon]="true">
      </app-joke-item>
    </ul>
    <app-alert [message]="error" [type]="'danger'"></app-alert>
  </ng-template>
  <footer class="card-footer text-muted">
    <span *ngIf="jokes.length > 0">Showing {{jokes.length}} of {{jokeLimit}} jokes</span>
    <span *ngIf="jokes.length === 0">Jokes empty</span>
  </footer>
</section>
