<section class="card">
  <header class="card-header d-flex justify-content-between">
    <h4>Favourite Jokes</h4>
    <button type="button" class="btn btn-outline-dark btn-sm" (click)="onTimer()">
      {{timerState ? 'Turn Off' : 'Turn On'}}
    </button>
  </header>
  <ul class="list-group">
    <app-spinner *ngIf="loading"></app-spinner>
    <app-joke-item
      *ngFor="let joke of jokes; trackBy:trackByJokes"
      [joke]="joke"
      [showDelIcon]="true"
      [showFavIcon]="false">
    </app-joke-item>
  </ul>
  <app-alert
    *ngIf="jokes.length === 0 && !error"
    [message]="'No favourite jokes to show.'"
    [type]="'light'">
  </app-alert>
  <app-alert [message]="error" [type]="'danger'"></app-alert>
  <footer class="card-footer text-muted">
    <span *ngIf="jokes.length > 0">Showing {{jokes.length}} of {{jokeLimit}} jokes</span>
    <span *ngIf="jokes.length === 0">Jokes empty</span>
  </footer>
</section>
