<main class="dashboard">
  <header class="d-flex justify-content-center mt-3">
    <h1>{{title}}</h1>
  </header>
  <section class="dashboard-container d-flex">
    <div class="row">
      <div class="col pt-3">
        <app-joke-list></app-joke-list>
      </div>
      <div class="col pt-3">
        <app-fav-joke-list></app-fav-joke-list>
      </div>
    </div>
  </section>
</main>
